.menu-button {
    -fx-background-color: transparent;
    -fx-border-color: #4d0505;
    -fx-border-radius: 50px;
}

.menu-button:hover {
    -fx-border-color: #053c4d;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#menu-icon .ikonli-font-icon {
    -fx-icon-code: "fltfal-app-folder-24";
    -fx-icon-color: black;
}

#menu-icon:hover {
    -fx-icon-color: #053c4d;
}

#close-song .ikonli-font-icon {
    -fx-icon-code: "fltral-dismiss-20";
    -fx-icon-color: black;
    -fx-icon-size: 20px;
}

#close-song:hover {
    -fx-icon-color: #4d0505;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#song-start .ikonli-font-icon {
    -fx-icon-code: "fltfmz-previous-24";
    -fx-icon-color: black;
    -fx-icon-size: 25px;
}

#song-start:hover {
    -fx-icon-color: #4d0505;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#song-pause .ikonli-font-icon {
    -fx-icon-code: "fltfmz-play-48";
    -fx-icon-color: black;
    -fx-icon-size: 25px;
}

#song-pause:hover {
    -fx-icon-color: #4d0505;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#song-pause:focused {
    -fx-icon-code: "fltfmz-pause-48";
    -fx-icon-color: black;
    -fx-icon-size: 25px;
}

#song-end .ikonli-font-icon {
    -fx-icon-code: "fltfmz-next-24";
    -fx-icon-color: black;
    -fx-icon-size: 25px;
}

#song-end:hover {
    -fx-icon-color: #4d0505;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#album-image:hover {
    -fx-border-color: #4d0505;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}

#canciones-button {
    -fx-background-color: transparent;
    -fx-border-color: #053c4d;
    -fx-text-fill: white;
    -fx-border-radius: 25px;
}

#canciones-button:hover {
    -fx-border-color: #4d0505;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}